{% extends "layout.html" %}

{% block title %}Home | Antuan Portfolio{% endblock %}

{% block content %}

<!-- Page Content-->
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    <a class="btn btn-primary px-4 py-3" href="#!">
                        <div class="d-inline-block bi bi-download me-2"></div>
                        Download Resume
                    </a>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2"> Feb 2026 - Present</div>
                                    <div class="small fw-bolder">Housekeeping Team Leader</div>
                                    <div class="small text-muted">
                                        <a href="https://theglebe.co.nz/" target="_blank" rel="noopener noreferrer"
                                            class="text-muted text-decoration-none">
                                            The Glebe
                                        </a>
                                    </div>
                                    <div class="small text-muted">Queenstown, New Zealand</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <ul class="mb-0">
                                    <li><strong>Analyzed</strong> housekeeping task durations to identify inefficiencies
                                        and optimize workflows</li>
                                    <li>Reduced average room cleaning time by <strong>~30%</strong> through data-driven
                                        process improvements</li>
                                    <li>Improved team satisfaction and productivity by introducing <strong>structured
                                            feedback</strong> and training</li>
                                    <li>Analyzed guest feedback to identify recurring issues and implemented corrective
                                        actions</li>
                                    <li>Contributed to creating a more efficient and positive working environment</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2"> Apr 2025 - Sept 2025</div>
                                    <div class="small fw-bolder">Data Annotator</div>
                                    <div class="small text-muted">
                                        <a href="https://www.oneforma.com/" target="_blank" rel="noopener noreferrer"
                                            class="text-muted text-decoration-none">
                                            OneForma
                                        </a>
                                    </div>
                                    <div class="small text-muted">Istanbul, Turkiye</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <ul class="mb-0">
                                    <li>Evaluated map search results and POI data (addresses, URLs, phone numbers,
                                        categories, validity) to improve accuracy and relevance.</li>
                                    <li>Assessed AI-generated audio outputs, providing feedback on categorization,
                                        accuracy, and quality.</li>
                                    <li>Labeled and categorized datasets including AI prompts, images, and text for
                                        <strong>machine learning</strong> model training.</li>
                                    <li>Reviewed and edited model-generated responses for quality, relevance, and
                                        appropriateness.</li>
                                    <li>Handled tasks involving sensitive and harmful content with high attention to
                                        ethical and quality standards.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 3-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2"> Feb 2024 - Dec 2024</div>
                                    <div class="small fw-bolder">Youth Worker & Data Coordinator</div>
                                    <div class="small text-muted">
                                        <a href="https://www.rujienasjauniesi.lv/" target="_blank"
                                            rel="noopener noreferrer" class="text-muted text-decoration-none">
                                            Rūjienas Jauniešiem
                                        </a>
                                    </div>
                                    <div class="small text-muted">Rujiena, Latvia</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <ul class="mb-0">
                                    <li>Analyzed youth center attendance data (age, activity preferences, visit times),
                                        increasing participation by <strong>%+300</strong>.</li>
                                    <li>Developed Excel-based systems to manage volunteers roster (leave, holidays, sick
                                        days), preventing conflicts</li>
                                    <li>Coordinated Erasmus+ youth exchange participant data and presented insights to
                                        the board for decision-making.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Education Section-->
                <section>
                    <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                    <!-- Education Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="mb-2">
                                            <div class="small fw-bolder">Adnan Menderes University</div>
                                            <div class="small text-muted">Aydin, Turkiye</div>
                                        </div>
                                        <div class="fst-italic">
                                            <div class="small text-muted">Bachelor's</div>
                                            <div class="small text-muted">Management Information Systems</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>GPA: 3.03 / 4.00</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Divider-->
                    <div class="pb-5"></div>
                    <!-- Skills Section-->
                    <section>
                        <!-- Skillset Card-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <!-- Professional skills list-->
                                <div class="mb-5">
                                    <div class="d-flex align-items-center mb-4">
                                        <div
                                            class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                            <i class="bi bi-tools"></i>
                                        </div>
                                        <h3 class="fw-bolder mb-0">
                                            <span class="text-gradient d-inline">Professional Skills</span>
                                        </h3>
                                    </div>

                                    <div class="row row-cols-1 row-cols-md-3 mb-4">

                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                Data Cleaning
                                            </div>
                                        </div>

                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                Data Analysis
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                Statistical Analysis
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row row-cols-1 row-cols-md-3">

                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                Data Visualization
                                            </div>
                                        </div>

                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                Reporting
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                Process Optimization
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Tools & Technologies-->
                                <div class="mb-0">
                                    <div class="d-flex align-items-center mb-4">
                                        <div
                                            class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                            <i class="bi bi-code-slash"></i></div>
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Tools &
                                                Technologies</span></h3>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python
                                            </div>
                                        </div>
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Pandas
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Numpy
                                            </div>
                                        </div>
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                                Matplotlib / Power BI</div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML /
                                                CSS</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
        </div>
    </div>
</div>

{% endblock %}